.cover {
  padding: 0 48px 92px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0 0 92px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    padding: 0 0 64px;
  }
}

@media screen and (max-width: 450px) {
  .cover {
    padding: 0 0 64px;
  }
}
